# Logs
logs
*.log
.wrangler
# Dependency directories
node_modules/

# Environment variables
.env

# Build output
build/
dist/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Generated/local configuration files
cf-best.yaml
cf-best*.yaml
.env
node_modules/